<h1>Photos#show</h1>
<!-- <p>Find me in app/views/photos/show.html.erb</p> -->

<button type="button" class="btn"><%= link_to "+ NEW", new_photo_path %></button>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Title</th>
        <th>User Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="picture">
          <img src="<%= @photo.picture %>" alt="<%= @photo.title %> photo" style="width:200px;height:128px;">
        </td>


        <td><%= @photo.title %></td>


        <td><%= link_to "edit", edit_photo_path%></td>
        <td><%= link_to "destroy", photo_path, method: :delete, data: {confirm: 'are you sure?'}%></td>
      </tr>
  </tbody>
</table>
<br>
<%= link_to 'Back to all Photos', photos_path %>
